body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:Tahoma, Geneva, sans-serif;
    padding: 0px;
    font-size: 1.2em;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:Tahoma, Geneva, sans-serif;
}
h2 {
    font-size: 1.5em;
    font-family:Tahoma, Geneva, sans-serif;
}
p {
    font-size: 1.1em;
    font-family:Tahoma, Geneva, sans-serif;
    line-height: 1.4em;
    color: #033;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}
img {
    max-width:100%;
    max-height:auto;
    width:auto;
    height:auto;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.container {
  display: inline-block;
  cursor: pointer;
}


.accordion {
  background-color: #eee;
  font-family:Tahoma, Geneva, sans-serif;
  color: #3a3535;
  cursor: pointer;
  padding: inherit;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.5em;
  transition: 0.6s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #d8d5d5;
  font-weight: bold;
  float: right;
  margin-left: auto;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: inherit;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
